@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu {
  background-color: #f8d79e;
  padding: 20px;
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    font-weight: 600;

    .title {
      font-size: 12px;
      font-weight: 400;
      color: #FF5A33;
      text-transform: uppercase;

      @include lg{
        display: none;
      }
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;

      &:hover {
        background-color: #FFEC5C;
      }

      .listItemTitle{
        @include lg{
          display: none;
        }
      }

      img {
        color: #FFEC5C;
      }
    }
  }
}
